<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="page-background login-page">
      <form action="/AdminLogin" method="post" class="form-group login-form">
        <h1 class="mt-3 text-center shadow-heading">Login</h1>
        <div>
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="Email">
        </div><br>
        <div>        
          <label>Password:</label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div><br>
        <div style="text-align: center;">
          <button type="submit" class="button btn btn-primary">Submit</button>
        </div>        
      </form>
    </div>
  </body>  
</html>
